:root {
    --primary-color: #82b5c3;
    --secondary-color: #465e79;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* start header style */
header {
    background-color: #32343d;
    color: var(--primary-color);
}

header h1 {
    background: var(--primary-color);
    padding: 20px 20px 20px 60px;
    display: inline-block;
    color: #252b33;
    margin: 15px 0;
}

header nav {
    font-size: 28px;  
    float: right;
    padding: 50px 30px 25px 30px;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
    border-bottom: 3px solid var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    height: 500px;
}

body {
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

section {
    padding: 40px 0;
}


/* start hero banner */
.hero {
    background-image: url("./images/IMG_8754.jpg");
    background-size: cover;
    padding: 200px 0;
}


/* end hero banner */


.container {
    display: flex;
}

.title {
    border-right: 5px solid var(--secondary-color);
    padding: 0 10px;
    width: 30%;
}

.title h2 {
    font-size: 40px;
    text-align: right;
    justify-content: right;
    margin: auto;
    color: var(--secondary-color);
}

.content {
    font-size: 16px;
    color: slategray;
    width: 70%;
    flex-wrap: wrap;
    margin: auto 20px;
    align-content: center;
    display:flex;
    align-content: space-around;
    width: 900px;
}

.content p {
    line-height: 1.3;
}

.content ul li {
    display:inline-block;
    text-decoration: none;
    border-bottom: 3px solid var(--secondary-color);
    margin-right: 10px;
}

.content ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.runBuddy{
    background-image: url("/assets/images/runBuddy.jpg");
    border: 5px solid var(--primary-color);
    opacity: 0.8;
} 

.runBuddy:hover {
    opacity: 1;
}

.item {
    width: 350px;
    height: 250px;  
    opacity: 0.8;
}

.item:hover {
    opacity: 1;
}


.item img {
    border: 5px solid var(--primary-color); 
}

.proj-title {
    background-color: var(--primary-color);
    padding: 10px 10px 10px 40px;
    margin: 10px 0;
    z-index:9999;
    color: black;
    position: relative; 
    bottom:100px;
    width: 12em;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    
    header {
        width: 100%;
        display: flex;
    }

    h1 {
        width: 65%;
        height: 65%;
    }

    nav {
        width: 35%;
        display: inline-block;
    }

    section {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .container {
        width: 100%;
        border-right: 14em;
    }

    .content {
        font-size: 5vw;
    }

    .title {
        font-size: 18vw;    
    }

