:root {
    --primary-color: #82b5c3;
    --secondary-color: #465e79;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* start header style */
header {
    background-color: #32343d;
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    background: var(--primary-color);
    padding: 20px 20px 20px 60px;
    display: inline-block;
    color: #252b33;
    margin: 15px 0;
}

header nav {
    font-size: 28px;  
    float: right;
    padding: 50px 30px 25px 30px;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
    border-bottom: 3px solid var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    height: 500px;
}

body {
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

section {
    padding: 40px 0;
}


/* start hero banner */
.hero {
    background-image: url("./images/IMG_8754.jpg");
    background-size: cover;
    padding: 200px 0;
}


/* end hero banner */


.container {
    display: flex;
}

.title {
    border-right: 5px solid var(--secondary-color);
    padding: 0 10px;
    width: 30%;
}

.title h2 {
    font-size: 36px;
    text-align: right;
    color: var(--secondary-color);
}

.contact-title {
    border-right: 5px solid var(--secondary-color);
    padding: 0 10px;
    width: 30%;
}

.contact-title h2 {
    font-size: 36px;
    text-align: right;
    color: var(--secondary-color);
}

.cake {
    font-size: 16px;
    color: slategray;
    flex-wrap: wrap;
    margin: auto 10px;
    align-content: center;
    display:flex;
    align-content: space-around;
    width: 80%;
}

.cake p {
    width: 60%;
    line-height: 1.3;
}

.cake ul li {
    display:inline-block;
    text-decoration: none;
    border-bottom: 3px solid var(--secondary-color);
    margin-right: 10px;
}

.cake ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.runBuddy{
    opacity: 0.8;
    width: 30vw;
} 

.runBuddy:hover {
    opacity: 1;
}

.img1 img {
    width: 50vw;
    border: 5px solid var(--primary-color);
}

.img2 img {
    width: 25vw;
}

.item {
    width: 100%;
    height: 250px;  
    opacity: 0.8;
}

.item:hover {
    opacity: 1;
}


.item img {
    border: 5px solid var(--primary-color); 
}

.proj-title {
    background-color: var(--primary-color);
    padding: 10px 10px 10px 40px;
    margin: 10px 0;
    z-index:9999;
    color: black;
    position: relative; 
    bottom:100px;
    width: 12em;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    
    header {
        width: 100%;
        display: flex;
    }

    h1 {
        width: 65%;
        height: 65%;
    }

    h2 {
        width: 65%;
        height: 65%;  
    }

    nav {
        flex-direction: row;
        font-size: 0.75rem;
    }

    section {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .container {
        width: 100%;
        border-right: 14em;
        font-size: 5vw;
    }

    .cake p {
        width: 85%;
    }

    .title {
        padding: 0px 5px;
    }

    .title h2 {
        font-size: 24px;
    }
    
    .proj-title {
        width: 70%;
        font-size: 0.70rem;
        bottom: 35%;
        padding-left: 5%;
    }

    .img1 img{
        width: 70vw;
    }

    .img2 img {
        width: 60vw;
    }

    .contact-title {
        padding: 0;
    }

    .contact-title h2 {
        font-size: 18px;
    }

    .cake ul li a {
        font-size: 1em;
    }